target/
target/*
target/**
*.log
*.tmp
ludopedia_acervo.html
titulos_grupo2088.txt
src/main/resources/java_covers_code.txt
src/main/resources/java_master_code.txt
.DS_Store
.idea/
*.iml
client_secret*.json
